%h3 My Moments

= form_tag(seconds_search_path, method: :post) do 
  = text_field_tag :tag
  = submit_tag "Search"

- @seconds.each do |s|
  = video_player src: { mp4: "#{s.video}" }, controls: true, width: 200, height: 130
  = link_to "Show", second_path(s)
