%h3 Search Results

= form_tag("/seconds", method: :search) do |f|
  = f.text_field :tag
  = f.submit "Search"

- @seconds.each do |s|
  = video_player src: { mp4: "#{s.video}" }, controls: true, width: 100, height: 100
  = link_to "Show", second_path(s)
