%h1 showing second "#{@second.uid}"

= video_player src: { mp4: "#{@second.video}" }, controls: true
%p src: { mp4: '#{@second.video}' }, controls: true

= form_for [@second, @sec_sprinkle], url: sec_sprinkles_path do |f|
  = fields_for @second do |s|
    = s.hidden_field :second_id, value: @second.id
  = fields_for @sec_sprinkle do |u|
    = u.label "New Sprinkle: "
    = u.text_field :tag
  = f.submit "Create"

%h5 Sprinkles:
- @sec_sprinkles.each do |s|
  = link_to s.tag, seconds_search_path(tag: s.tag), method: :post