.row-fluid
  .span4
    - title = "#{cake.title}" == "" ? "untitled" : "#{cake.title}"
    = link_to title + " - " + "date", cake_path(cake)
    / .video
    = video_player src: { mp4: "#{cake.video}" }, controls: true, width: 300, height: 190
  / .sprinkles
  .span2.offset4
    - if cake.cake_sprinkles
      - sprinkle_count = 0
      %ul
        %li 
          %br
        - cake.cake_sprinkles.each do |sprinkle|
          - if sprinkle_count < 8
            %li
              = link_to "##{sprinkle.tag}", search_path(tag: sprinkle.tag), method: :post
          - if sprinkle_count == 8
            %li 
              = link_to "More", cake_path(cake)
          - sprinkle_count += 1
        %li
          = form_for [@cake, @cake_sprinkle], url: cake_sprinkles_path do |f|
            = fields_for @cake do |c|
              = c.hidden_field :cake_id, value: cake.id
              = c.hidden_field :index, value: "yes"
            = fields_for @cake_sprinkle do |u|
              = u.label "+ #"
              = u.text_field :tag
            = f.submit "Create"