.row-fluid
  .span4
    = link_to "#{second.date}", second_path(second)
    / .video
    = video_player src: { mp4: "#{second.video}" }, controls: true, width: 300, height: 190
  / .sprinkles
  .span2.offset4
    - if second.sec_sprinkles
      - sprinkle_count = 0
      %ul
        %li 
          %br
        - second.sec_sprinkles.each do |sprinkle|
          - if sprinkle_count < 4
            %li
              = link_to "##{sprinkle.tag}", search_path(tag: sprinkle.tag), method: :post
          - if sprinkle_count == 4
            %li 
              = link_to "More", second_path(second)
          - sprinkle_count += 1
        %li
          = form_for [@second, @sec_sprinkle], url: sec_sprinkles_path do |f|
            = fields_for @second do |c|
              = c.hidden_field :second_id, value: second.id
              = c.hidden_field :index, value: "yes"
            = fields_for @sec_sprinkle do |u|
              = u.label "+ #"
              = u.text_field :tag
            = f.submit "Create"