%h1 One Sec
-if current_user
  = link_to "Sign out", destroy_user_session_path, :method => :delete 

%h3 
  = link_to "My Cakes", cakes_path
- @cakes.each do |cake|
  = video_player src: { mp4: "#{cake.video}" }, controls: true, width: 300, height: 300

%h3 
  = link_to "My Seconds", seconds_path
- @seconds.each do |second|
  = video_player src: { mp4: "#{second.video}" }, controls: true, width: 200, height: 200
